YDB_CONNECTION_STRING="grpc://localhost:2136/local"

# Optional for local connection, can be retrieved via `yc iam create-token` for remote DB connection
# Refer to: https://yandex.cloud/en/docs/iam/operations/iam-token/create to get more info on IAM token retreival
YDB_ACCESS_TOKEN_CREDENTIALS="t1.xxxxxxxxxxxxxxxxxxxxxxxxx..."